<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Convert your FIles from one format to another</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

  <div class="menu_box animate__animated animate__fadeIn">
    <div class="wrap">
      <div class="menu_box_item">
        <ul>
          <li>Tools</li>
          <li>How to USe</li>
          <li>About<li/>
          <li>Blog</li>
          <li>Compress Files</li>
          <li>Donate</li>
        </ul>
      </div>
    </div>
   
  </div>


   <div class="container">
     <div class="divelyn">
      <div class="divette">
        <div class="logo">
          <a href="/">
            <h2>Dropp</h2>
          </a>
        </div>
        <div class="tools">
          <ul>
            <li>Tools <i class="fas fa-chevron-down"></i></li>
            <li>Documents</li>
            <li>Donate</li>
            <li></li>
          </ul>
        </div>
        <div class="cta">
          <button type="submit">SiGN IN</button>
        </div>
        <div class="menu">
          <i class="ri-home-smile-line"></i>
        </div>
       
      </div>
     </div>
        @!section('content')
    
     
   </div>
 

   
   <footer>
    <div class="wrap">
        <div class="sideBYside">
            <div class="Resource">
                <ul>
                    <li><a href="#about"> How to use</a> </li>
                    <li>Tools</li>
                    <li><a href="/Files/Pdf-word">About</a></li>
                    <li>Blog</li>
                </ul>
            </div>
    
            <div class="contact">
                <ul>
                   <li>Developers</li>
                    <li>Donate</li>
                    <li>Get App</li>

                </ul>
            </div>
        </div>
        <div class="socials">
          <a href="https://twitter.com/Akohjesse">
            <i class="ri-twitter-line"></i></a>
          
            <a href="https://api.whatsapp.com/send?phone=+234%20901%20082%204363&text=Hi">
                <i class="ri-whatsapp-line"></i></a>
           
            
        </div>

        <div class="credits">
            <p>&copy;2021 Dropp</p>
            <p>Built with 
                <a>❤</a>
                
                by
                <a href="https://akohjesse.com">
                    Fervent
                </a>
            </p>
        </div>
    </div>
    
    
</footer>
<script src="/js/index.js"></script>
@!section('jsFiles')

</body>