@layout('layouts.app');

@section('content')
   <div class="hh11">
       <div class="container">
           <div class="wrap">
               <h2>Easily Convert your files from any format to another</h2>
           </div>
       </div>
   </div>
@endsection