@layout('layouts.app')

@section('content')
  <header>
      <h1>Merge PDF's together</h1>
  </header>

  <form class="fileupload {{from}}"  action="/uploads/{{from}}-{{To}}" method="post" enctype="multipart/form-data">
</form>
@endsection

@section('jsFiles')
<script src="/js/select&submit.js"></script>
@endsection