*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.hh1t1{
   width:100%;
   margin-top: 13%;
   .wrap{
       display: flex;
       justify-content: space-between;
       padding:20px 0px;
        .text1{
            width: 50%;
             h2{
                 font-size: 2.5em;
                 font-weight: 600;
                 color: rgb(58, 58, 58);
                 line-height:55px;
             }
             p{
                 margin:30px 0px;
                 line-height: 30px;
                 max-width: 80%;
                 font-size: 1.2em;
             }
             .cta{
                 margin-top: 30px;
                 button{
                     outline: none;
                     padding:20px 50px;
                     border-radius: 5px;
                     font-weight: 600;
                     text-transform: uppercase;
                     box-shadow: none;
                     letter-spacing: 1px;
                     cursor: pointer;
                     color: white;
                     background-color:#00B0FF;
                     border:none;
                     &:hover{
                         transform:scale(0.9);
                         transition: 0.7s ease-in;
                     }
                 }
             }
        }

        .hh221{
            margin-left:20px;
            width: 49%;
            .image{
                width:100%;
               svg{
                   width:100%;
                   height: auto;
               }
            }
        }
   }
  
}

   #doc1 {
    animation: move 3s ease-in-out infinite;
   }
   #doc2{
       animation : twinkle 3s ease-in-out infinite;
   }
   #Group1{
       fill:lavender;
   }
   #document_shadow{
    animation: bb 4s forwards ease-in-out infinite;
   }
   #woman{
       animation-delay: 1s;
       animation-duration: 3s;
   }
   @keyframes move{
       0%{transform: translateY(0)}
       50%{transform: translateY(10%)}
        100%{transform: translateY(0);}
   }
   @keyframes twinkle{
    0%{transform: translateY(0)}
    50%{transform: translateY(-10%)}
     100%{transform: translateY(0);}
}
@keyframes bb{
    0%{transform: translateY(0)}
    50%{transform: translateY(10%)}
     100%{transform: translateY(0);}
}



