*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
p{
    margin:30px 0px;
    line-height: 30px;
    max-width: 80%;
    font-size: 1.2em;
}
h2{
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(58, 58, 58);
    line-height:55px;
}

.hh1t1{
   width:100%;
   margin-top: 13%;
   .wrap{
       padding:20px 0px;
       .text_field{
        width:50%;
    }
             .cta{
                 margin-top: 30px;
                 button{
                     outline: none;
                     padding:20px 50px;
                     border-radius: 5px;
                     font-weight: 600;
                     text-transform: uppercase;
                     box-shadow: none;
                     letter-spacing: 1px;
                     cursor: pointer;
                     color: white;
                     background-color:#34C1E0;
                     border:none;
                     &:hover{
                         transform:scale(0.9);
                         transition: 0.7s ease-in;
                     }
                 }
        }

        .hh221{
            margin-left:20px;
            width: 49%;
            .image{
                width:100%;
                img{
                  width:100%;
                }
               svg{
                   width:100%;
                   height: auto;
               }
            }
        }
   }
  
}
.Howto{
    margin-top: 10%;
    .wrap{
        .hh221{
            width:45%;
            margin-right: 30px;
            .image{
                width:100%;
                img{
                    width:80%;
                }
            }
        }
        .text_field{
            width:40%;
            text-align: left;
           h3{
             font-size: 2.5em;
             font-weight: 600;
             color: rgb(58, 58, 58);
           }
        }
    }
}
.support{
    margin-top: 12%;
    .wrap{
        .text_field{
            align-self: center;
            width:45%;
            h3{
                font-size:2em;
                color: rgb(58, 58, 58);
                line-height: 54px;
            }
            #support{
                color:#f9a826;
            }
        }
        .hh221{
            width:45%;
            .image{
                padding:40px;
                border-radius: 15px;
                box-shadow: inset -18px -20px 20px 0px #cacad0;
                background:lavender;
                width: 100%;
                height:300px;
                text-align: center;
                img{
                   width: 70%;
                   height: 100%;
                   padding:15px 0px;

                }
            }
        }
    }
}

   #doc1 {
    animation: move 3s ease-in-out infinite;
   }
   #doc2{
       animation : twinkle 3s ease-in-out infinite;
   }
   #Group1{
       fill:lavender;
   }
   #document_shadow{
    animation: bb 4s forwards ease-in-out infinite;
   }
   #woman{
       animation-delay: 1s;
       animation-duration: 3s;
   }
   @keyframes move{
       0%{transform: translateY(0)}
       50%{transform: translateY(10%)}
        100%{transform: translateY(0);}
   }
   @keyframes twinkle{
    0%{transform: translateY(0)}
    50%{transform: translateY(-10%)}
     100%{transform: translateY(0);}
}
@keyframes bb{
    0%{transform: translateY(0)}
    50%{transform: translateY(10%)}
     100%{transform: translateY(0);}
}



@media (max-width:750px){
      .hh1t1{
          margin-top:15%;
          .wrap{
              flex-direction:column;
              .text_field, .hh221 {
                  width:100%;
              }
              .hh221{
                 margin :40px auto;
              }
              .text_field{
                  text-align: center;
                  p{
                   margin:50px auto;
                  }
              }
          }
      }
}
@media (max-width:600px){
     .hh1t1{
        margin-top:20%;
         .wrap{
             .text_field{
                 h2{
                     font-size:2em;
                     line-height:47px;
                 }
             }
         }
     }
}
@media (max-width:440px){
    .hh1t1{
        margin-top:25%;
         .wrap{
             .text_field{
                 p{
                     font-size: 1.1em;
                     max-width: 85%;
                     line-height: 25px;
                     margin:35px auto;
                 }
             }
             .hh221{
                 margin-top:70px ;
             }
         }
     }
}