*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.hh1t1{
   width:100%;
   margin-top: 15%;
   .wrap{
       display: flex;
       justify-content: space-between;
        .text1{
            width: 50%;
             h2{
                 font-size: 2.6em;
                 color: rgb(58, 58, 58);
                 line-height:55px;
             }
             p{
                 margin:30px 0px;
                 line-height: 35px;
                 max-width: 80%;
                 font-size: 1.3em;
             }
             .cta{
                 margin-top: 30px;
                 button{
                     outline: none;
                     padding:20px 50px;
                     border-radius: 5px;
                     font-weight: 600;
                     text-transform: uppercase;
                     box-shadow: none;
                     letter-spacing: 1px;
                     cursor: pointer;
                     color: white;
                     background-color:#00B0FF;
                     border:none;
                     &:hover{
                         transform:scale(0.9);
                         transition: 0.7s ease-in;
                     }
                 }
             }
        }

        .hh221{
            margin-left:20px;
            width: 40%;
            .image{
                width:100%;
                img{
                    width: 100%;
                }
            }
        }
   }
  
}