* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hh1t1 {
  width: 100%;
  margin-top: 13%;
}

.hh1t1 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.hh1t1 .wrap .text1 {
  width: 50%;
}

.hh1t1 .wrap .text1 h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #3a3a3a;
  line-height: 55px;
}

.hh1t1 .wrap .text1 p {
  margin: 30px 0px;
  line-height: 30px;
  max-width: 80%;
  font-size: 1.2em;
}

.hh1t1 .wrap .text1 .cta {
  margin-top: 30px;
}

.hh1t1 .wrap .text1 .cta button {
  outline: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  background-color: #00B0FF;
  border: none;
}

.hh1t1 .wrap .text1 .cta button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.hh1t1 .wrap .hh221 {
  margin-left: 20px;
  width: 49%;
}

.hh1t1 .wrap .hh221 .image {
  width: 100%;
}

.hh1t1 .wrap .hh221 .image svg {
  width: 100%;
  height: auto;
}

#doc1 {
  -webkit-animation: move 3s ease-in-out infinite;
          animation: move 3s ease-in-out infinite;
}

#doc2 {
  -webkit-animation: twinkle 3s ease-in-out infinite;
          animation: twinkle 3s ease-in-out infinite;
}

#Group1 {
  fill: lavender;
}

#document_shadow {
  -webkit-animation: bb 4s forwards ease-in-out infinite;
          animation: bb 4s forwards ease-in-out infinite;
}

#woman {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes twinkle {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bb {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bb {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ifi {
  0% {
    fill: #f39494 250, 146, 146 250, 146, 146;
  }
  50% {
    fill: #e9d4c8;
  }
  100% {
    fill: lavender;
  }
}

@keyframes ifi {
  0% {
    fill: #f39494 250, 146, 146 250, 146, 146;
  }
  50% {
    fill: #e9d4c8;
  }
  100% {
    fill: lavender;
  }
}

@media (max-width: 750px) {
  .hh1t1 {
    margin-top: 15%;
  }
  .hh1t1 .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hh1t1 .wrap .text1, .hh1t1 .wrap .hh221 {
    width: 100%;
  }
  .hh1t1 .wrap .hh221 {
    margin: 40px auto;
  }
  .hh1t1 .wrap .text1 {
    text-align: center;
  }
  .hh1t1 .wrap .text1 p {
    margin: 50px auto;
  }
}

@media (max-width: 600px) {
  .hh1t1 {
    margin-top: 20%;
  }
  .hh1t1 .wrap .text1 h2 {
    font-size: 2em;
    line-height: 47px;
  }
  #Group1 {
    -webkit-animation: ifi 1s ease-in-out infinite;
            animation: ifi 1s ease-in-out infinite;
  }
}

@media (max-width: 440px) {
  .hh1t1 {
    margin-top: 25%;
  }
  .hh1t1 .wrap .text1 p {
    font-size: 1.1em;
    max-width: 85%;
    line-height: 25px;
    margin: 35px auto;
  }
  .hh1t1 .wrap .hh221 {
    margin-top: 70px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */