@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$pdf-red: rgb(242, 48, 48);
$word-blue: rgb(61, 153, 245);
$ppt: rgb(255, 128, 0);
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    width:90%;
    margin:0 auto;
}
.divette{
    height:auto;
    left: 0px;
    padding:15px 20px;
    width:100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color:#f4f8fc;
    top:0px;
    .logo{
        h2{
            font-size: 1.2em;
            color:rgb(70, 83, 89);
            
        }
        a{
            text-decoration: none;
        }
    }
    .menu{
        i{
            font-size: 1.5em;
        }
    }
    .tools{
        ul{
            display: flex;
            flex-direction: row;
            li{
                margin:0px 20px;
                list-style-type: none;
            }
        }
    }
}
header{
    margin-top: 20%;
    padding:40px 0px;
    text-align: center;
    .icons{
        i{
            padding:10px;
            font-size: 2em;

        }

        // insert styles for the icons of each page
        .fa-file-word{
            color: $word-blue;
        }
        .fa-file-pdf{
            color: $pdf-red;
        }
        .fa-file-powerpoint{
           color:$ppt;
        }
    }

    h1{
        color:rgb(70, 83, 89);
    }
    p{
        margin:10px 0px;
    }
}
.menu_box{
    display: none;
    width:100%;
    position: fixed;
    top:0;
    z-index: 40;
    height:100vh;
    // backdrop-filter: blur(6px);
    backdrop-filter: blur(9px);
    position:fixed;
    .wrap{
        padding:20px 30px;
        width:80%;
        border-radius:13px;
        margin:50px auto;
        .menu_box_item{
            ul{
                text-align: center;
                li{
                    margin:20px 0;
                    font-weight: 700;
                    font-size: 1.2em;
                    color:rgb(70, 83, 89);
                    list-style:none;
                    &:hover{
                        color:rgb(255, 145, 0);
                    }
                }
            }
        }
    }
}

.DOCX{
    background: $word-blue;
}
.PDF{
    background: $pdf-red;
}
.PPT{
    background: $ppt;
}
form{
    width:100%;
    padding:30px;
    margin:0 auto;
    border: 1px dotted white;
    text-align: center;
    border-radius:9px;
    .image_doc{
        width: 60%;
    }
    [name='upfile']{
          display: none;
    }
    .Xash{
        margin:4px 0px;
        font-style: italic;
        background: rgb(192, 217, 255);
    }
    // .ready{
    //     background:;
    // }
    h1{
        padding: 15px;
        cursor: pointer;
        border-radius: 13px;
        background: white;
        color:rgb(70, 83, 89) ;
        margin:15px 0px 10px 0px ;
        font-weight: 400;
        font-size:1.5em;
    }
    .ddau{
        width: 90px;
    }
}
.preloader{
    display: none;
}
.btn{
    text-align: center;
    button{
        width:auto;
        padding:10px 20px;
        color:rgb(0, 0, 0);
        font-size:1.3em;
        background:white;
        text-align: centers;
        border: 1px solid grey;
        border-radius:4px;
        i{
            color: $pdf-red;
            font-size: 1.3em;
        }
    }
}
.next{
    text-align: center;
    display: block;
    margin-top:10px;
}
.happy{
    text-align: center;
    margin-top:11%;
   h3{
       font: size 1.5em;
       color:$pdf-red;
   }
    img{
        width:90%;
    };
}
footer{
    background-color:#f4f8fc;
    color:rgb(70, 83, 89) ;
    .wrap{
        margin-top: 10% !important; 
        width:95%;
        padding:10% 10px;
        margin:0 auto;
        .sideBYside{
            display:flex;
            justify-content: space-between;
            align-items: center;
            ul{
                a{
                    text-decoration: none;
                }
              li{
                  list-style-type: none;
                  margin:10px 0px;
                  font-size:0.9em;
                  a{
                      text-decoration: none;
    
                  }
                 
              }
            }
        }
        .socials{
            margin:5% 0px;
            text-align: center;
            i{
                font-size:1.2em;
       
                padding:0px 4%;
               
            }
            a{
                text-decoration: none;
            }
        }
        .credits{
            text-align: center;
            font-size:0.9em;
           
            a{
                color: orange;
            }
        }
    }
}
@media (min-width:440px){
    header{
        margin-top: 10%;
    }
}
@media (min-width:500px){
    .container{
        width:80%;
    }
    .divette{
        padding:15px 30px;
    }
    .form{
        width:90%;
    }
    footer{
        .wrap{
            margin-top: 9% !important;
            width:80%;
            padding:8% 10px;
            .sideBYside{
                justify-content: space-evenly;
            }
        }
    }
}
@media (min-width:700px){

}