@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.divette {
  height: auto;
  left: 0px;
  padding: 15px 20px;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f4f8fc;
  top: 0px;
}

.divette .logo h2 {
  font-size: 1.2em;
  color: #465359;
}

.divette .logo a {
  text-decoration: none;
}

.divette .menu i {
  font-size: 1.5em;
}

.divette .tools ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.divette .tools ul li {
  margin: 0px 20px;
  list-style-type: none;
}

header {
  margin-top: 20%;
  padding: 40px 0px;
  text-align: center;
}

header .icons i {
  padding: 10px;
  font-size: 2em;
}

header .icons .fa-file-word {
  color: #3d99f5;
}

header .icons .fa-file-pdf {
  color: #f23030;
}

header .icons .fa-file-powerpoint {
  color: #ff8000;
}

header h1 {
  color: #465359;
}

header p {
  margin: 10px 0px;
}

.menu_box {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 40;
  height: 100vh;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  position: fixed;
}

.menu_box .wrap {
  padding: 20px 30px;
  width: 80%;
  border-radius: 13px;
  margin: 50px auto;
}

.menu_box .wrap .menu_box_item ul {
  text-align: center;
}

.menu_box .wrap .menu_box_item ul li {
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.2em;
  color: #465359;
  list-style: none;
}

.menu_box .wrap .menu_box_item ul li:hover {
  color: #ff9100;
}

.DOCX {
  background: #3d99f5;
}

.PDF {
  background: #f23030;
}

.PPT {
  background: #ff8000;
}

form {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  border: 1px dotted white;
  text-align: center;
  border-radius: 9px;
}

form .image_doc {
  width: 60%;
}

form [name='upfile'] {
  display: none;
}

form .Xash {
  margin: 4px 0px;
  font-style: italic;
  background: #c0d9ff;
}

form h1 {
  padding: 15px;
  cursor: pointer;
  border-radius: 13px;
  background: white;
  color: #465359;
  margin: 15px 0px 10px 0px;
  font-weight: 400;
  font-size: 1.5em;
}

form .ddau {
  width: 90px;
}

.preloader {
  display: none;
}

.btn {
  text-align: center;
}

.btn button {
  width: auto;
  padding: 10px 20px;
  color: black;
  font-size: 1.3em;
  background: white;
  text-align: centers;
  border: 1px solid grey;
  border-radius: 4px;
}

.btn button i {
  color: #f23030;
  font-size: 1.3em;
}

.next {
  text-align: center;
  display: block;
  margin-top: 10px;
}

.happy {
  text-align: center;
  margin-top: 11%;
}

.happy h3 {
  font: size 1.5em;
  color: #f23030;
}

.happy img {
  width: 90%;
}

footer {
  background-color: #f4f8fc;
  color: #465359;
}

footer .wrap {
  margin-top: 10% !important;
  width: 95%;
  padding: 10% 10px;
  margin: 0 auto;
}

footer .wrap .sideBYside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrap .sideBYside ul a {
  text-decoration: none;
}

footer .wrap .sideBYside ul li {
  list-style-type: none;
  margin: 10px 0px;
  font-size: 0.9em;
}

footer .wrap .sideBYside ul li a {
  text-decoration: none;
}

footer .wrap .socials {
  margin: 5% 0px;
  text-align: center;
}

footer .wrap .socials i {
  font-size: 1.2em;
  padding: 0px 4%;
}

footer .wrap .socials a {
  text-decoration: none;
}

footer .wrap .credits {
  text-align: center;
  font-size: 0.9em;
}

footer .wrap .credits a {
  color: orange;
}

@media (min-width: 440px) {
  header {
    margin-top: 10%;
  }
}

@media (min-width: 500px) {
  .container {
    width: 80%;
  }
  .divette {
    padding: 15px 30px;
  }
  .form {
    width: 90%;
  }
  footer .wrap {
    margin-top: 9% !important;
    width: 80%;
    padding: 8% 10px;
  }
  footer .wrap .sideBYside {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=index.css.map */